{% extends "mainTemplate.html" %}

{% block title %}General Observation{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="container-fluid">
        <div style="padding-top: 100px; padding-left: 10px">
        <div class="card">
            <div class="card-body">

            <h2 style="text-align: center">General Observation</h2>

                <div class="container">
                    <hr>

                    <div>
                        <p><b>Before starting, please fill out the individual observation forms first to attach at the "Obs client" field:</b></p>
                        <div class="d-flex justify-content-center">
                            <a href="/observation_ind_new" class="btn btn-primary" role="button">Add Individual</a>
                        </div>
                    </div>

                    <hr>

                    <form method="POST" class="post-form">
                            {% csrf_token %}

                            {{ form|crispy }}

                            <div class="d-flex justify-content-center">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>

                </div>
    
            </div>
        </div>
        </div>
    </div>

{% endblock %}