{% extends "mainTemplate.html" %}

{% block title %}Resources{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div style="padding-top: 100px; padding-left: 10px">
        <div class="card">
            <div class="card-body">

            <h2 style="text-align: center">Resources</h2>

                <div class="container">
                    <hr>
                    <h5>Links to useful information about PIT counts:</h5>
                    <ul>
                        <li><a href="https://www.hudexchange.info/homelessness-assistance/ahar" target="_blank">https://www.hudexchange.info/homelessness-assistance/ahar</a></li>
                        <li><a href="https://files.hudexchange.info/resources/documents/PIT-Count-Methodology-Guide.pdf" target="_blank">https://files.hudexchange.info/resources/documents/PIT-Count-Methodology-Guide.pdf</a></li>

                    </ul>

                </div>


            </div>
        </div>
        </div>
    </div>


{% endblock %}