{% extends "mainTemplate.html" %}

{% block title %}Data Dashboard{% endblock %}

{% block content %}
{% load plotly_dash %}

<div class="container-fluid">
  <div style="padding-top: 100px; padding-left: 10px">
    <div class="card">
      <div class="card-body">
        <h2 style="text-align: center">Charts</h2>
        <hr>
        <h3 id="observations" style="text-align: center">Observations</h3>
        <div class="{% plotly_class name='main_dash' %} card" style= "height:100%;width: 100%">
        {% plotly_app name='main_dash' ratio=0.65 %}
        </div>
      </div>
    </div>
  </div>
 </div>
{% endblock %}